*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Arial', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(206, 206, 206);
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-container{
    /* border: 3px solid rgba(0, 0, 0); */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.user-profile{
    margin: 2px 8px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
}


.profile img{
    object-fit:cover;
    object-position: top;
    border-radius: 50px;
    border: 2px solid rgb(11, 106, 130) ;
    padding: 2px;
    cursor:pointer;
}

.profile p{
    font-size: 18px;
    cursor:pointer;
}

.profile i{
    color: rgb(0, 119, 255);
}

#container{
    height: 400px;
    width: 350px;
    background-color: white;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#container i{
    color: #fff;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.8;
    transition: all ease 0.3s;
}

.icons{
    display: flex;
    justify-content: space-between;
    margin: 10px 8px;
}

.ri-heart-3-fill{
    color: red;
}

.icons i{
    font-size: 28px;
    cursor: pointer;
}
.left-icon{
    display: flex;
    column-gap: 12px;
}

